<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <runtime>
 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
 
          <dependentAssembly>
 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
 
              <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
 
          </dependentAssembly>
 
      </assemblyBinding>
 
  </runtime>
  <appSettings>
    <add key="ApiUrl" value="https://api.neverbounce.com/v4/"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="F:\Vasudev\NeverBounce\NeverBounceApi-DotNet\NevereBounce.Api-log.${date:yyyy-MM-dd}.txt" archiveFileName="F:\Vasudev\NeverBounce\NeverBounceApi-DotNet\NevereBounce.Api-log.${date:yyyy-MM-dd}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
      <target name="errors" xsi:type="File" fileName="F:\Vasudev\NeverBounce\NeverBounceApi-DotNet\NevereBounce.Api-errors.${date:yyyy-MM-dd}.txt" archiveFileName="F:\Vasudev\NeverBounce\NeverBounceApi-DotNet\NevereBounce.Api-errors.${date:yyyy-MM-dd}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
      <logger name="*" minlevel="Error" writeTo="errors" />
    </rules>
  </nlog>
</configuration>